body, a {color: #24126a;}
input[type="text"]::-webkit-input-placeholder {
    color: #24126A;
  }  
  input[type="text"]:-ms-input-placeholder { 
    color: #24126A;
  }  
input[type="email"]::-webkit-input-placeholder {
    color: #24126A;
  }  
  input[type="email"]:-ms-input-placeholder { 
    color: #24126A;
  }  
  input[type="text"]::placeholder {
    color: #24126A;
  }
  input[type="email"]::placeholder {
    color: #24126A;
  }
  input[type="password"]::placeholder {
    color: #24126A;
  }
.display_none{display: none !important;}
.bg-custom {background-image: linear-gradient(133deg, #24126a -7%, #24126a 34%, #3f1268 50%);}
.btn-custom{background-color: #FDB702;border-color: #FDB702;color: #24126A;font-weight: bold;}
.br-pagetitle h4 {color: #24126A;}
.br-sideleft {background-image: linear-gradient(133deg, #24126a -7%, #24126a 34%, #3f1268 50%);}
.br-menu-link.active {background-color: #FDB702; color: #24126A; font-weight: bold;}
.br-menu-link:hover {background-color: #fdb7024a;}

.loader_container {
  position: fixed;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .sk-three-bounce {
      /* margin-top: 25%; */
  }
  .sk-three-bounce .sk-child {
      background-color: #FDB702 !important;
  }

/* --------------------- Login --------------------- */

#home_page .custom_icon {float: left;}
#home_page .custom_content {float: left;margin-left: 15px;}
#home_page .more_ticket div.card-body {min-height: 160px;}
@media (max-width: 500px)
{
  #home_page {text-align: center;}
  #home_page .custom_icon {float: unset;}
  #home_page .custom_content {float: unset;}
}